*.pyc
*.npz
*.log
*.gif'
*.npy
*_label.txt
*_conversion.txt
*preview_temp.jpg
bin/MyNet1.py
examples/mnist/result/*
examples/image_classification/result/*
examples/credit_card_amount/result/*
floppy/test/ExampleNet.py

